# **UNData API Exercise**


In this exercise, you'll redo the data gathering phase of the UNData Exploration project by using APIs instead of downloading csv files.

You'll make use of the [World Bank Indicators API](https://datahelpdesk.worldbank.org/knowledgebase/articles/889392-about-the-indicators-api-documentation). Note that this API does not require an API key. Before attempting the exercise, it would be a good idea to skim through the Documentation page and to check out the [Basic Call Structure article](https://datahelpdesk.worldbank.org/knowledgebase/articles/898581).

In [1]:
import requests
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import seaborn as sns
import json

### 1. Use the API to get all available data for the _GDP per capita, PPP (constant 2021 international $)_ indicator. Hint: this indicator has code "NY.GDP.PCAP.PP.KD". Adjust the query parameters so that you can retrieve all available rows. Convert the results to a DataFrame.

In [2]:
#from MH

country = "all"
indicator = "NY.GDP.PCAP.PP.KD"

URL = f"http://api.worldbank.org/v2/country/{country}/indicator/{indicator}"

params = {
    "format": "json",
    "per_page": 16758
}

response = requests.get(URL, params = params)

gdp_per_capita = pd.json_normalize(response.json()[1])
gdp_per_capita = gdp_per_capita.rename(columns = {'value': 'gdp_per_capita'})
gdp_per_capita.head(20)

,countryiso3code,date,gdp_per_capita,unit,obs_status,decimal,indicator.id,indicator.value,country.id,country.value
0,AFE,2023,4047.007031,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",ZH,Africa Eastern and Southern
1,AFE,2022,4038.638689,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",ZH,Africa Eastern and Southern
2,AFE,2021,3994.171654,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",ZH,Africa Eastern and Southern
3,AFE,2020,3919.499230,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",ZH,Africa Eastern and Southern
4,AFE,2019,4130.057222,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",ZH,Africa Eastern and Southern
5,AFE,2018,4142.950313,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",ZH,Africa Eastern and Southern
6,AFE,2017,4135.767937,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",ZH,Africa Eastern and Southern
7,AFE,2016,4125.361392,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",ZH,Africa Eastern and Southern
8,AFE,2015,4129.055120,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",ZH,Africa Eastern and Southern
9,AFE,2014,4108.190054,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",ZH,Africa Eastern and Southern
10,AFE,2013,4048.089185,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",ZH,Africa Eastern and Southern
11,AFE,2012,3990.080300,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",ZH,Africa Eastern and Southern
12,AFE,2011,3983.110618,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",ZH,Africa Eastern and Southern
13,AFE,2010,3921.778029,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",ZH,Africa Eastern and Southern
14,AFE,2009,3824.013482,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",ZH,Africa Eastern and Southern
15,AFE,2008,3892.152786,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",ZH,Africa Eastern and Southern
16,AFE,2007,3822.579518,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",ZH,Africa Eastern and Southern
17,AFE,2006,3675.221934,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",ZH,Africa Eastern and Southern
18,AFE,2005,3535.563277,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",ZH,Africa Eastern and Southern
19,AFE,2004,3412.047479,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",ZH,Africa Eastern and Southern

### 2. Now, use the API to get all available data for Life expectancy at birth, total (years). This indicator has code "SP.DYN.LE00.IN". Again, convert the results to a DataFrame.

In [4]:
country = "all"
indicator = "SP.DYN.LE00.IN"

URL = f"http://api.worldbank.org/v2/country/{country}/indicator/{indicator}"

params = {
    "format": "json",
    "per_page": 16758,
}

response = requests.get(URL, params = params)

life_expectancy = pd.json_normalize(response.json()[1])
life_expectancy = life_expectancy.rename(columns = {'value': 'life_expectancy'})
life_expectancy.head(20)

,countryiso3code,date,life_expectancy,unit,obs_status,decimal,indicator.id,indicator.value,country.id,country.value
0,AFE,2023,NaN,,,0,SP.DYN.LE00.IN,"Life expectancy at birth, total (years)",ZH,Africa Eastern and Southern
1,AFE,2022,62.899031,,,0,SP.DYN.LE00.IN,"Life expectancy at birth, total (years)",ZH,Africa Eastern and Southern
2,AFE,2021,62.454590,,,0,SP.DYN.LE00.IN,"Life expectancy at birth, total (years)",ZH,Africa Eastern and Southern
3,AFE,2020,63.313860,,,0,SP.DYN.LE00.IN,"Life expectancy at birth, total (years)",ZH,Africa Eastern and Southern
4,AFE,2019,63.755678,,,0,SP.DYN.LE00.IN,"Life expectancy at birth, total (years)",ZH,Africa Eastern and Southern
5,AFE,2018,63.365863,,,0,SP.DYN.LE00.IN,"Life expectancy at birth, total (years)",ZH,Africa Eastern and Southern
6,AFE,2017,62.922390,,,0,SP.DYN.LE00.IN,"Life expectancy at birth, total (years)",ZH,Africa Eastern and Southern
7,AFE,2016,62.444050,,,0,SP.DYN.LE00.IN,"Life expectancy at birth, total (years)",ZH,Africa Eastern and Southern
8,AFE,2015,61.856458,,,0,SP.DYN.LE00.IN,"Life expectancy at birth, total (years)",ZH,Africa Eastern and Southern
9,AFE,2014,61.337917,,,0,SP.DYN.LE00.IN,"Life expectancy at birth, total (years)",ZH,Africa Eastern and Southern
10,AFE,2013,60.709870,,,0,SP.DYN.LE00.IN,"Life expectancy at birth, total (years)",ZH,Africa Eastern and Southern
11,AFE,2012,60.050780,,,0,SP.DYN.LE00.IN,"Life expectancy at birth, total (years)",ZH,Africa Eastern and Southern
12,AFE,2011,59.293271,,,0,SP.DYN.LE00.IN,"Life expectancy at birth, total (years)",ZH,Africa Eastern and Southern
13,AFE,2010,58.411150,,,0,SP.DYN.LE00.IN,"Life expectancy at birth, total (years)",ZH,Africa Eastern and Southern
14,AFE,2009,57.620852,,,0,SP.DYN.LE00.IN,"Life expectancy at birth, total (years)",ZH,Africa Eastern and Southern
15,AFE,2008,56.680419,,,0,SP.DYN.LE00.IN,"Life expectancy at birth, total (years)",ZH,Africa Eastern and Southern
16,AFE,2007,55.933802,,,0,SP.DYN.LE00.IN,"Life expectancy at birth, total (years)",ZH,Africa Eastern and Southern
17,AFE,2006,55.150546,,,0,SP.DYN.LE00.IN,"Life expectancy at birth, total (years)",ZH,Africa Eastern and Southern
18,AFE,2005,54.219651,,,0,SP.DYN.LE00.IN,"Life expectancy at birth, total (years)",ZH,Africa Eastern and Southern
19,AFE,2004,53.545457,,,0,SP.DYN.LE00.IN,"Life expectancy at birth, total (years)",ZH,Africa Eastern and Southern

### 3. Merge the two results DataFrames together. You may want to rename or drop columns prior to merging.

Cleaning up the Data Frame GDP Per Capita: (1) Keeping the columns of interest, (2) Renaming column headers

In [5]:
gdp_per_capita = gdp_per_capita[['date', 'gdp_per_capita', 'country.value']]
gdp_per_capita

       date  gdp_per_capita                country.value
0      2023     4047.007031  Africa Eastern and Southern
1      2022     4038.638689  Africa Eastern and Southern
2      2021     3994.171654  Africa Eastern and Southern
3      2020     3919.499230  Africa Eastern and Southern
4      2019     4130.057222  Africa Eastern and Southern
...     ...             ...                          ...
16753  1974             NaN        Virgin Islands (U.S.)
16754  1973             NaN        Virgin Islands (U.S.)
16755  1972             NaN        Virgin Islands (U.S.)
16756  1971             NaN        Virgin Islands (U.S.)
16757  1970             NaN        Virgin Islands (U.S.)

[16758 rows x 3 columns]

In [6]:
gdp_per_capita.rename(columns={'date': 'year', 'country.value': 'country'}, inplace=True)
gdp_per_capita

       year  gdp_per_capita                      country
0      2023     4047.007031  Africa Eastern and Southern
1      2022     4038.638689  Africa Eastern and Southern
2      2021     3994.171654  Africa Eastern and Southern
3      2020     3919.499230  Africa Eastern and Southern
4      2019     4130.057222  Africa Eastern and Southern
...     ...             ...                          ...
16753  1974             NaN        Virgin Islands (U.S.)
16754  1973             NaN        Virgin Islands (U.S.)
16755  1972             NaN        Virgin Islands (U.S.)
16756  1971             NaN        Virgin Islands (U.S.)
16757  1970             NaN        Virgin Islands (U.S.)

[16758 rows x 3 columns]

Cleaning up the Data Frame Life Expectancy: (1) Keeping the columns of interest, (2) Renaming column headers

In [7]:
life_expectancy = life_expectancy[['date', 'life_expectancy', 'country.value']]
life_expectancy

       date  life_expectancy                country.value
0      2023              NaN  Africa Eastern and Southern
1      2022        62.899031  Africa Eastern and Southern
2      2021        62.454590  Africa Eastern and Southern
3      2020        63.313860  Africa Eastern and Southern
4      2019        63.755678  Africa Eastern and Southern
...     ...              ...                          ...
16753  1974        67.283683        Virgin Islands (U.S.)
16754  1973        67.070488        Virgin Islands (U.S.)
16755  1972        66.389878        Virgin Islands (U.S.)
16756  1971        66.183220        Virgin Islands (U.S.)
16757  1970        65.838683        Virgin Islands (U.S.)

[16758 rows x 3 columns]

In [8]:
life_expectancy.rename(columns={'date': 'year', 'country.value': 'country'}, inplace=True)
life_expectancy

       year  life_expectancy                      country
0      2023              NaN  Africa Eastern and Southern
1      2022        62.899031  Africa Eastern and Southern
2      2021        62.454590  Africa Eastern and Southern
3      2020        63.313860  Africa Eastern and Southern
4      2019        63.755678  Africa Eastern and Southern
...     ...              ...                          ...
16753  1974        67.283683        Virgin Islands (U.S.)
16754  1973        67.070488        Virgin Islands (U.S.)
16755  1972        66.389878        Virgin Islands (U.S.)
16756  1971        66.183220        Virgin Islands (U.S.)
16757  1970        65.838683        Virgin Islands (U.S.)

[16758 rows x 3 columns]

Merge these 2 data frames:

In [9]:
Merged_LifeExpectancy_GDP_PerCapita = pd.merge(life_expectancy, gdp_per_capita, on =['year', 'country'])
Merged_LifeExpectancy_GDP_PerCapita

       year  life_expectancy                      country  gdp_per_capita
0      2023              NaN  Africa Eastern and Southern     4047.007031
1      2022        62.899031  Africa Eastern and Southern     4038.638689
2      2021        62.454590  Africa Eastern and Southern     3994.171654
3      2020        63.313860  Africa Eastern and Southern     3919.499230
4      2019        63.755678  Africa Eastern and Southern     4130.057222
...     ...              ...                          ...             ...
16753  1974        67.283683        Virgin Islands (U.S.)             NaN
16754  1973        67.070488        Virgin Islands (U.S.)             NaN
16755  1972        66.389878        Virgin Islands (U.S.)             NaN
16756  1971        66.183220        Virgin Islands (U.S.)             NaN
16757  1970        65.838683        Virgin Islands (U.S.)             NaN

[16758 rows x 4 columns]

### 4. You can also get more information about the available countries (region, capital city, income level classification, etc.) by using the Country API. Use this API to pull in all available data. Merge this with your other datasets. Use this to now remove the rows that correspond to regions and not countries.

Access to electricity (% of population)

In [10]:
country = "all"
indicator = "EG.ELC.ACCS.ZS"

URL = f"http://api.worldbank.org/v2/country/{country}/indicator/{indicator}"

params = {
    "format": "json",
    "per_page": 16758,
}

response = requests.get(URL, params = params)

Acc_to_Electricity = pd.json_normalize(response.json()[1])
Acc_to_Electricity = Acc_to_Electricity.rename(columns = {'value': 'Percent_of_Pop_with_Access_to_Electricity'})
Acc_to_Electricity

,countryiso3code,date,Percent_of_Pop_with_Access_to_Electricity,unit,obs_status,decimal,indicator.id,indicator.value,country.id,country.value
0,AFE,2023,NaN,,,1,EG.ELC.ACCS.ZS,Access to electricity (% of population),ZH,Africa Eastern and Southern
1,AFE,2022,48.711995,,,1,EG.ELC.ACCS.ZS,Access to electricity (% of population),ZH,Africa Eastern and Southern
2,AFE,2021,48.100862,,,1,EG.ELC.ACCS.ZS,Access to electricity (% of population),ZH,Africa Eastern and Southern
3,AFE,2020,46.264875,,,1,EG.ELC.ACCS.ZS,Access to electricity (% of population),ZH,Africa Eastern and Southern
4,AFE,2019,44.381259,,,1,EG.ELC.ACCS.ZS,Access to electricity (% of population),ZH,Africa Eastern and Southern
...,...,...,...,...,...,...,...,...,...,...
16753,VIR,1974,NaN,,,1,EG.ELC.ACCS.ZS,Access to electricity (% of population),VI,Virgin Islands (U.S.)
16754,VIR,1973,NaN,,,1,EG.ELC.ACCS.ZS,Access to electricity (% of population),VI,Virgin Islands (U.S.)
16755,VIR,1972,NaN,,,1,EG.ELC.ACCS.ZS,Access to electricity (% of population),VI,Virgin Islands (U.S.)
16756,VIR,1971,NaN,,,1,EG.ELC.ACCS.ZS,Access to electricity (% of population),VI,Virgin Islands (U.S.)
16757,VIR,1970,NaN,,,1,EG.ELC.ACCS.ZS,Access to electricity (% of population),VI,Virgin Islands (U.S.)

Cleaning data from the above data frame: (1) Keeping only the most pertinent columns

In [11]:
Acc_to_Electricity = Acc_to_Electricity[['date', 'Percent_of_Pop_with_Access_to_Electricity', 'country.value']]
Acc_to_Electricity

,date,Percent_of_Pop_with_Access_to_Electricity,country.value
0,2023,NaN,Africa Eastern and Southern
1,2022,48.711995,Africa Eastern and Southern
2,2021,48.100862,Africa Eastern and Southern
3,2020,46.264875,Africa Eastern and Southern
4,2019,44.381259,Africa Eastern and Southern
...,...,...,...
16753,1974,NaN,Virgin Islands (U.S.)
16754,1973,NaN,Virgin Islands (U.S.)
16755,1972,NaN,Virgin Islands (U.S.)
16756,1971,NaN,Virgin Islands (U.S.)
16757,1970,NaN,Virgin Islands (U.S.)

(2) Renaming Column Headers

In [12]:
Acc_to_Electricity.rename(columns={'date': 'year', 'country.value': 'country'}, inplace=True)
Acc_to_Electricity

/var/folders/nl/hqcw9pqd0ns4q0b61syv0q2m0000gn/T/ipykernel_16403/3867267354.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Acc_to_Electricity.rename(columns={'date': 'year', 'country.value': 'country'}, inplace=True)

,year,Percent_of_Pop_with_Access_to_Electricity,country
0,2023,NaN,Africa Eastern and Southern
1,2022,48.711995,Africa Eastern and Southern
2,2021,48.100862,Africa Eastern and Southern
3,2020,46.264875,Africa Eastern and Southern
4,2019,44.381259,Africa Eastern and Southern
...,...,...,...
16753,1974,NaN,Virgin Islands (U.S.)
16754,1973,NaN,Virgin Islands (U.S.)
16755,1972,NaN,Virgin Islands (U.S.)
16756,1971,NaN,Virgin Islands (U.S.)
16757,1970,NaN,Virgin Islands (U.S.)

Merge this new data frame (Acc_to_Electricity) with the data frame that was newly built with GDP per Capita data and Life Expectancy data.

In [13]:
Merged_Electricity_LifeExpectancy_GDP_PerCapita = pd.merge(Acc_to_Electricity, Merged_LifeExpectancy_GDP_PerCapita, on =['year', 'country'])
Merged_Electricity_LifeExpectancy_GDP_PerCapita

,year,Percent_of_Pop_with_Access_to_Electricity,country,life_expectancy,gdp_per_capita
0,2023,NaN,Africa Eastern and Southern,NaN,4047.007031
1,2022,48.711995,Africa Eastern and Southern,62.899031,4038.638689
2,2021,48.100862,Africa Eastern and Southern,62.454590,3994.171654
3,2020,46.264875,Africa Eastern and Southern,63.313860,3919.499230
4,2019,44.381259,Africa Eastern and Southern,63.755678,4130.057222
...,...,...,...,...,...
16753,1974,NaN,Virgin Islands (U.S.),67.283683,NaN
16754,1973,NaN,Virgin Islands (U.S.),67.070488,NaN
16755,1972,NaN,Virgin Islands (U.S.),66.389878,NaN
16756,1971,NaN,Virgin Islands (U.S.),66.183220,NaN
16757,1970,NaN,Virgin Islands (U.S.),65.838683,NaN

Select rows that are of countries only, i.e. excluding regions: (1) Obtain a list of all the countries in the world

In [14]:
URL = f'https://api.worldbank.org/v2/country'

params = {
    "format": "json",
    "per_page": 16758,
}

response = requests.get(URL, params = params)

ListOfCountries = pd.json_normalize(response.json()[1])
ListOfCountries = ListOfCountries.rename(columns = {'name': 'country'})
ListOfCountries

,id,iso2Code,country,capitalCity,longitude,latitude,region.id,region.iso2code,region.value,adminregion.id,adminregion.iso2code,adminregion.value,incomeLevel.id,incomeLevel.iso2code,incomeLevel.value,lendingType.id,lendingType.iso2code,lendingType.value
0,ABW,AW,Aruba,Oranjestad,-70.0167,12.5167,LCN,ZJ,Latin America & Caribbean,,,,HIC,XD,High income,LNX,XX,Not classified
1,AFE,ZH,Africa Eastern and Southern,,,,NA,NA,Aggregates,,,,NA,NA,Aggregates,,,Aggregates
2,AFG,AF,Afghanistan,Kabul,69.1761,34.5228,SAS,8S,South Asia,SAS,8S,South Asia,LIC,XM,Low income,IDX,XI,IDA
3,AFR,A9,Africa,,,,NA,NA,Aggregates,,,,NA,NA,Aggregates,,,Aggregates
4,AFW,ZI,Africa Western and Central,,,,NA,NA,Aggregates,,,,NA,NA,Aggregates,,,Aggregates
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
291,XZN,A5,Sub-Saharan Africa excluding South Africa and ...,,,,NA,NA,Aggregates,,,,NA,NA,Aggregates,,,Aggregates
292,YEM,YE,"Yemen, Rep.",Sana'a,44.2075,15.352,MEA,ZQ,Middle East & North Africa,MNA,XQ,Middle East & North Africa (excluding high inc...,LIC,XM,Low income,IDX,XI,IDA
293,ZAF,ZA,South Africa,Pretoria,28.1871,-25.746,SSF,ZG,Sub-Saharan Africa,SSA,ZF,Sub-Saharan Africa (excluding high income),UMC,XT,Upper middle income,IBD,XF,IBRD
294,ZMB,ZM,Zambia,Lusaka,28.2937,-15.3982,SSF,ZG,Sub-Saharan Africa,SSA,ZF,Sub-Saharan Africa (excluding high income),LMC,XN,Lower middle income,IDX,XI,IDA
295,ZWE,ZW,Zimbabwe,Harare,31.0672,-17.8312,SSF,ZG,Sub-Saharan Africa,SSA,ZF,Sub-Saharan Africa (excluding high income),LMC,XN,Lower middle income,IDB,XH,Blend

In [15]:
ListOfCountries = ListOfCountries[['country']]
ListOfCountries

                                               country
0                                                Aruba
1                          Africa Eastern and Southern
2                                          Afghanistan
3                                               Africa
4                           Africa Western and Central
..                                                 ...
291  Sub-Saharan Africa excluding South Africa and ...
292                                        Yemen, Rep.
293                                       South Africa
294                                             Zambia
295                                           Zimbabwe

[296 rows x 1 columns]

Merge the aforementioned List of Countries with the recently merged Data Frame regarding Access to Electricity around the world:

In [16]:
Merged_Countries_Electricity_LifeExpectancy_GDP_PerCapita = pd.merge(ListOfCountries, Merged_Electricity_LifeExpectancy_GDP_PerCapita, on = ['country'])
Merged_Countries_Electricity_LifeExpectancy_GDP_PerCapita

,country,year,Percent_of_Pop_with_Access_to_Electricity,life_expectancy,gdp_per_capita
0,Aruba,2023,NaN,NaN,NaN
1,Aruba,2022,99.9,74.992,42260.451837
2,Aruba,2021,100.0,74.626,38226.146157
3,Aruba,2020,100.0,75.723,29935.070278
4,Aruba,2019,100.0,76.248,39432.128933
...,...,...,...,...,...
16625,South Africa,1964,NaN,53.906,NaN
16626,South Africa,1963,NaN,53.633,NaN
16627,South Africa,1962,NaN,53.376,NaN
16628,South Africa,1961,NaN,53.085,NaN
16629,South Africa,1960,NaN,52.669,NaN

### **Bonus Questions:** After doing a basic request to get all records, you can attempt these exercises to get additional practice using query parameters.

# 1. Adjust your request so that it returns data just for the United States.

In [17]:
country = "USA"
indicator = "EG.ELC.ACCS.ZS"

URL = f"http://api.worldbank.org/v2/country/{country}/indicator/{indicator}"

params = {
    "format": "json",
    "per_page": 16758,
}

response = requests.get(URL, params = params)

USA_Acc_to_Electricity = pd.json_normalize(response.json()[1])
USA_Acc_to_Electricity = USA_Acc_to_Electricity.rename(columns = {'value': 'Percent_of_Pop_with_Access_to_Electricity'})
USA_Acc_to_Electricity

,countryiso3code,date,Percent_of_Pop_with_Access_to_Electricity,unit,obs_status,decimal,indicator.id,indicator.value,country.id,country.value
0,USA,2023,NaN,,,1,EG.ELC.ACCS.ZS,Access to electricity (% of population),US,United States
1,USA,2022,100.0,,,1,EG.ELC.ACCS.ZS,Access to electricity (% of population),US,United States
2,USA,2021,100.0,,,1,EG.ELC.ACCS.ZS,Access to electricity (% of population),US,United States
3,USA,2020,100.0,,,1,EG.ELC.ACCS.ZS,Access to electricity (% of population),US,United States
4,USA,2019,100.0,,,1,EG.ELC.ACCS.ZS,Access to electricity (% of population),US,United States
...,...,...,...,...,...,...,...,...,...,...
59,USA,1964,NaN,,,1,EG.ELC.ACCS.ZS,Access to electricity (% of population),US,United States
60,USA,1963,NaN,,,1,EG.ELC.ACCS.ZS,Access to electricity (% of population),US,United States
61,USA,1962,NaN,,,1,EG.ELC.ACCS.ZS,Access to electricity (% of population),US,United States
62,USA,1961,NaN,,,1,EG.ELC.ACCS.ZS,Access to electricity (% of population),US,United States
63,USA,1960,NaN,,,1,EG.ELC.ACCS.ZS,Access to electricity (% of population),US,United States

# 2. Adjust your request so that it returns data just for the United States for the year 2021.

In [18]:
country = "USA"
indicator = "EG.ELC.ACCS.ZS"

URL = f"http://api.worldbank.org/v2/country/{country}/indicator/{indicator}"

params = {
    "format": "json",
    "per_page": 16758,
    "date": 2021
}

response = requests.get(URL, params = params)

USA_2021_Acc_to_Electricity = pd.json_normalize(response.json()[1])
USA_2021_Acc_to_Electricity = USA_2021_Acc_to_Electricity.rename(columns = {'value': 'Percent_of_Pop_with_Access_to_Electricity'})
USA_2021_Acc_to_Electricity

,countryiso3code,date,Percent_of_Pop_with_Access_to_Electricity,unit,obs_status,decimal,indicator.id,indicator.value,country.id,country.value
0,USA,2021,100,,,1,EG.ELC.ACCS.ZS,Access to electricity (% of population),US,United States

# 3. Adjust your request so that it returns data just for the United States for the years 2000 through 2021.

In [19]:
country = "USA"
indicator = "EG.ELC.ACCS.ZS"

URL = f"http://api.worldbank.org/v2/country/{country}/indicator/{indicator}"

params = {
    "format": "json",
    "per_page": 16758,
    "date": "2000:2021"
}

response = requests.get(URL, params = params)

USA_2000_2021_Acc_to_Electricity = pd.json_normalize(response.json()[1])
USA_2000_2021_Acc_to_Electricity = USA_2000_2021_Acc_to_Electricity.rename(columns = {'value': 'Percent_of_Pop_with_Access_to_Electricity'})
USA_2000_2021_Acc_to_Electricity.head(5)

,countryiso3code,date,Percent_of_Pop_with_Access_to_Electricity,unit,obs_status,decimal,indicator.id,indicator.value,country.id,country.value
0,USA,2021,100,,,1,EG.ELC.ACCS.ZS,Access to electricity (% of population),US,United States
1,USA,2020,100,,,1,EG.ELC.ACCS.ZS,Access to electricity (% of population),US,United States
2,USA,2019,100,,,1,EG.ELC.ACCS.ZS,Access to electricity (% of population),US,United States
3,USA,2018,100,,,1,EG.ELC.ACCS.ZS,Access to electricity (% of population),US,United States
4,USA,2017,100,,,1,EG.ELC.ACCS.ZS,Access to electricity (% of population),US,United States

# 4. Adjust your request so that it returns data for the United States and Canada for the years 2000 through 2021.

In [20]:
country = "USA;CAN"
indicator = "EG.ELC.ACCS.ZS"

URL = f"http://api.worldbank.org/v2/country/{country}/indicator/{indicator}"

params = {
    "format": "json",
    "per_page": 16758,
    "date": "2000:2021"
}

response = requests.get(URL, params = params)

USA_Canada_2000_2021_Acc_to_Electricity = pd.json_normalize(response.json()[1])
USA_Canada_2000_2021_Acc_to_Electricity = USA_Canada_2000_2021_Acc_to_Electricity.rename(columns = {'value': 'Percent_of_Pop_with_Access_to_Electricity'})
USA_Canada_2000_2021_Acc_to_Electricity.head(5)

,countryiso3code,date,Percent_of_Pop_with_Access_to_Electricity,unit,obs_status,decimal,indicator.id,indicator.value,country.id,country.value
0,CAN,2021,100,,,1,EG.ELC.ACCS.ZS,Access to electricity (% of population),CA,Canada
1,CAN,2020,100,,,1,EG.ELC.ACCS.ZS,Access to electricity (% of population),CA,Canada
2,CAN,2019,100,,,1,EG.ELC.ACCS.ZS,Access to electricity (% of population),CA,Canada
3,CAN,2018,100,,,1,EG.ELC.ACCS.ZS,Access to electricity (% of population),CA,Canada
4,CAN,2017,100,,,1,EG.ELC.ACCS.ZS,Access to electricity (% of population),CA,Canada

# 5. If you haven't already done so and you would like to get some additional practice using loops, use the page parameter in order to pull all records. Do not change the value of the per_page parameter. You will likely need to utilize a loop of some kind in order to pull all records.

In [3]:
# checking metadata for variables that we will use for setting the parameters 
lst = []
endpoint = "http://api.worldbank.org/v2/country/all/indicator/"
indicator = 'NY.GDP.PCAP.PP.KD'
params = {
        'format': 'json',
        'per_page': 50
        #'page': 2
}
url = endpoint + indicator

# get number of pages
res = requests.get(url, params).json()
res

# pull data from each page
pages = res[0]['pages']
# for diagnostic purposes, we can use: pages = 5

for page in range(1, pages + 1): # range includes the beginning number but excludes the ending number, which is why we need to have "+1"
        params['page'] = page
        res = requests.get(url, params).json()
        lst.extend(res[1])
        #lst.append(res[1])
        
gdp = pd.json_normalize(lst)
# Corresponding code if we use .append() above: gdp = pd.json_normalize([InnermostDictionary for MidLayerList in lst for InnermostDictionary in MidLayerList])
# Dissection for understanding: gdp = pd.json_normalize([InnermostDictionary (for MidLayerList in lst) for InnermostDictionary in MidLayerList])
                                                # Side Note: lst is the Outermost Layer List
                                                # Python navigates/loops through the levels (or layers, in a hierarchy) in the following way: Python first iterates through all the Streets in a City (equivalent of Mid-Layer Lists among the Outermost List), then Houses on those Streets (Innermost Dictionary items in the Mid-Layer List)
gdp.head(20)

,countryiso3code,date,value,unit,obs_status,decimal,indicator.id,indicator.value,country.id,country.value
0,AFE,2023,4047.007031,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",ZH,Africa Eastern and Southern
1,AFE,2022,4038.638689,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",ZH,Africa Eastern and Southern
2,AFE,2021,3994.171654,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",ZH,Africa Eastern and Southern
3,AFE,2020,3919.499230,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",ZH,Africa Eastern and Southern
4,AFE,2019,4130.057222,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",ZH,Africa Eastern and Southern
5,AFE,2018,4142.950313,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",ZH,Africa Eastern and Southern
6,AFE,2017,4135.767937,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",ZH,Africa Eastern and Southern
7,AFE,2016,4125.361392,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",ZH,Africa Eastern and Southern
8,AFE,2015,4129.055120,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",ZH,Africa Eastern and Southern
9,AFE,2014,4108.190054,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",ZH,Africa Eastern and Southern
10,AFE,2013,4048.089185,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",ZH,Africa Eastern and Southern
11,AFE,2012,3990.080300,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",ZH,Africa Eastern and Southern
12,AFE,2011,3983.110618,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",ZH,Africa Eastern and Southern
13,AFE,2010,3921.778029,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",ZH,Africa Eastern and Southern
14,AFE,2009,3824.013482,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",ZH,Africa Eastern and Southern
15,AFE,2008,3892.152786,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",ZH,Africa Eastern and Southern
16,AFE,2007,3822.579518,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",ZH,Africa Eastern and Southern
17,AFE,2006,3675.221934,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",ZH,Africa Eastern and Southern
18,AFE,2005,3535.563277,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",ZH,Africa Eastern and Southern
19,AFE,2004,3412.047479,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",ZH,Africa Eastern and Southern

In [21]:
#from SD
def get_all_data(endpoint, params = {"format": "json"}):
    response = requests.get(endpoint, params = params)
    [metadata, data] = response.json()
    if int(metadata["total"]) > int(metadata["per_page"]):
        params["per_page"] = metadata["total"]
        response = requests.get(endpoint, params = params)
        [metadata, data] = response.json()
    return pd.DataFrame(data)
get_all_data(endpoint = 'http://api.worldbank.org/v2/country/')

,id,iso2Code,name,region,adminregion,incomeLevel,lendingType,capitalCity,longitude,latitude
0,ABW,AW,Aruba,"{'id': 'LCN', 'iso2code': 'ZJ', 'value': 'Lati...","{'id': '', 'iso2code': '', 'value': ''}","{'id': 'HIC', 'iso2code': 'XD', 'value': 'High...","{'id': 'LNX', 'iso2code': 'XX', 'value': 'Not ...",Oranjestad,-70.0167,12.5167
1,AFE,ZH,Africa Eastern and Southern,"{'id': 'NA', 'iso2code': 'NA', 'value': 'Aggre...","{'id': '', 'iso2code': '', 'value': ''}","{'id': 'NA', 'iso2code': 'NA', 'value': 'Aggre...","{'id': '', 'iso2code': '', 'value': 'Aggregates'}",,,
2,AFG,AF,Afghanistan,"{'id': 'SAS', 'iso2code': '8S', 'value': 'Sout...","{'id': 'SAS', 'iso2code': '8S', 'value': 'Sout...","{'id': 'LIC', 'iso2code': 'XM', 'value': 'Low ...","{'id': 'IDX', 'iso2code': 'XI', 'value': 'IDA'}",Kabul,69.1761,34.5228
3,AFR,A9,Africa,"{'id': 'NA', 'iso2code': 'NA', 'value': 'Aggre...","{'id': '', 'iso2code': '', 'value': ''}","{'id': 'NA', 'iso2code': 'NA', 'value': 'Aggre...","{'id': '', 'iso2code': '', 'value': 'Aggregates'}",,,
4,AFW,ZI,Africa Western and Central,"{'id': 'NA', 'iso2code': 'NA', 'value': 'Aggre...","{'id': '', 'iso2code': '', 'value': ''}","{'id': 'NA', 'iso2code': 'NA', 'value': 'Aggre...","{'id': '', 'iso2code': '', 'value': 'Aggregates'}",,,
...,...,...,...,...,...,...,...,...,...,...
291,XZN,A5,Sub-Saharan Africa excluding South Africa and ...,"{'id': 'NA', 'iso2code': 'NA', 'value': 'Aggre...","{'id': '', 'iso2code': '', 'value': ''}","{'id': 'NA', 'iso2code': 'NA', 'value': 'Aggre...","{'id': '', 'iso2code': '', 'value': 'Aggregates'}",,,
292,YEM,YE,"Yemen, Rep.","{'id': 'MEA', 'iso2code': 'ZQ', 'value': 'Midd...","{'id': 'MNA', 'iso2code': 'XQ', 'value': 'Midd...","{'id': 'LIC', 'iso2code': 'XM', 'value': 'Low ...","{'id': 'IDX', 'iso2code': 'XI', 'value': 'IDA'}",Sana'a,44.2075,15.352
293,ZAF,ZA,South Africa,"{'id': 'SSF', 'iso2code': 'ZG', 'value': 'Sub-...","{'id': 'SSA', 'iso2code': 'ZF', 'value': 'Sub-...","{'id': 'UMC', 'iso2code': 'XT', 'value': 'Uppe...","{'id': 'IBD', 'iso2code': 'XF', 'value': 'IBRD'}",Pretoria,28.1871,-25.746
294,ZMB,ZM,Zambia,"{'id': 'SSF', 'iso2code': 'ZG', 'value': 'Sub-...","{'id': 'SSA', 'iso2code': 'ZF', 'value': 'Sub-...","{'id': 'LMC', 'iso2code': 'XN', 'value': 'Lowe...","{'id': 'IDX', 'iso2code': 'XI', 'value': 'IDA'}",Lusaka,28.2937,-15.3982
295,ZWE,ZW,Zimbabwe,"{'id': 'SSF', 'iso2code': 'ZG', 'value': 'Sub-...","{'id': 'SSA', 'iso2code': 'ZF', 'value': 'Sub-...","{'id': 'LMC', 'iso2code': 'XN', 'value': 'Lowe...","{'id': 'IDB', 'iso2code': 'XH', 'value': 'Blend'}",Harare,31.0672,-17.8312

# 6. The endpoint "http://api.worldbank.org/v2/indicator" will return information about all available indicators. See Indicator API Queries. Use this endpoint to find the code for the "Public Expenditure on Education (% GDP)" indicator.